.keys
credentials.json
.DS_STORE
node_modules
deprecated_importers/moves/daily
*csv
*tsv
checkins.json
/deprecated_importers/moves/data
/deprecated_importers/swarm/fx/_swarm_cache.json
/visual_playground/tracks_just_to_test.json
*.js.map
/importers/swarm/python-based-from-gh/checkins.db
/importers/swarm/python-based-from-gh/checkin_details.json
/ruby_importers/_swarm_cache.json
/ruby_importers/importers/swarm/tracks.json
/ruby_importers/importers/swarm/reports.db
/ruby_importers/latest.dump
/ruby_importers/tracks.json
/ruby_importers/_weather_cache.json
